#board{
   position:relative;
   background-color:rgb(98, 98, 106);
   height:600px;
   width:600px;
}
.boardGrid{
   background-color:rgb(162, 162, 169);
   height:125px;
   width:125px;
   margin-left:20px;
   margin-top:20px;
   float:left;
}
.numberGrid{
   position:absolute;
   padding-top:30px;
   height:94px;
   width:124px;
   border:1px solid white;
   font-family:Georgia, Serif;
   font-size:50px;
   text-align:center;
   color:white;
   display:none;
   border-radius: 5px;
}